@import "styles/variables";
@import "styles/buttons";
@import "styles/typography";
@import "styles/header";
@import "styles/hero";
@import "styles/quote-section";
@import "styles/services";
:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  body {
    font-family: 'Poppins', Verdana, sans-serif;
    font-size: $base-font-size;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    article {
      scroll-snap-align: start;
      @include padding-spacing(xlarge, top);
    }


    *,
    &::before,
    &::after {
      box-sizing: border-box;
    }

    a {
      text-decoration: none;
    }
  }
}
