@import "variables";
@import "mixins/box-shadow";
@import "mixins/spacing";
button.button, a.button {
  border-radius: 10rem;
  background-color: $accent;
  color: #fff;
  font-family: "Poppins";
  border: none;
  font-weight: 700;
  @include padding-spacing(base, vertical);
  @include padding-spacing(large, horizontal);
  text-transform: uppercase;
  transition: .2s ease-in-out;
  @include basic-box-shadow();
  &.xs {
    padding: 0.25rem 0.75rem;
  }
  > {
    color: #fff;
    font-family: "Poppins";
    font-weight: 700;
    line-height: .8;
    text-transform: uppercase;
  }

  &.outline {
    border: 3px solid $accent;
    color: $accent;
    background: transparent;

    > {
      color: $accent;
    }
    &:hover {
      background-color: $accent;
      color: #fff;
      border: 3px solid $accent;
      >, span {
        color: $white;
      }
    }
    &.white {
      border: 3px solid $white;
      color: $white;
      background: transparent;
      > {
        color: $white;
      }

      &:hover {
        background-color: $accent;
        color: #fff;
        border: 3px solid $accent;
        > {
          color: $white;
        }
      }
    }
  }
}
