@import "variables";
@import "mixins/spacing";
@import "mixins/box-shadow";

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include padding-spacing(small, vertical);
  @include padding-spacing(medium, horizontal);
  z-index: 100;
  transition: .2s ease-in-out;
  background-color: rgba($white, 0);

  &.scrolled {
    background-color: rgba($white, 1);
    @include basic-box-shadow();

    nav {
      ul {
        li {
          color: $accent;

          a {
            color: $title-base-color;
          }
        }

        button {
          span {
            color: $accent;
          }

          &:hover {
            span {
              color: $white;
            }
          }
        }

      }
    }
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      @include padding-spacing(small, vertical);
      height: max-content;
      width: auto;
    }
  }

  nav {
    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      align-items: center;
      margin: 0;

      li, span {
        text-transform: uppercase;
        font-weight: bold;
        font-size: $header-font-size;
        color: $white;
        @include padding-spacing(base, horizontal);
        //@include padding-spacing(small, vertical);

        cursor: pointer;

        a {
          &:hover {
            color: $accent;
          }

          color: $white;
        }
      }
    }
  }
}
