@import "variables";
@import "mixins/spacing";
@import "mixins/box-shadow";

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include apply-to(lg) {
    @include padding-spacing(small, vertical);
    @include padding-spacing(medium, horizontal);
  }
  @include padding-spacing(large, vertical);
  @include padding-spacing(large, horizontal);
  z-index: 100;
  transition: .2s ease-in-out;
  background-color: rgba($white, 0);

  &.scrolled {
    background-color: rgba($white, 1);
    @include basic-box-shadow();
    .burger-button {
      span {
        background-color: $primary;
      }
    }
    nav {
      ul {
        li {
          color: $accent;

          a {
            color: $title-base-color;
          }
        }

        button {
          span {
            color: $accent;
          }

          &:hover {
            span {
              color: $white;
            }
          }
        }

      }
    }
  }
  .burger-button {
    position: relative;
    width: 8rem;
    span {
      width: 90%;
      height: 1rem;
      border-radius: 1rem;
      /*left: calc(50% - 12px);*/
      display: block;
      /*height: 1px;*/
      position: absolute;
      transform-origin: center;
      transition-duration: 86ms;
      transition-property: background-color,opacity,transform;
      transition-timing-function: ease-out;
      top: calc(50% - 1rem);
      //left: calc(50% - 28px);
      background-color: $white;
      &:first-child {
        top: calc(50% - 1.1rem);
      }

      &:nth-child(2) {
        top: calc(50% + 1.1rem);
      }
    }
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    @include apply-to(lg) {
      height: max-content;
    }
    img {
      @include apply-to(lg) {
        @include padding-spacing(small, vertical);
      }
      height: 100%;
      width: auto;
    }
  }
  button.button {
    font-size: map-get($header-font-size, mobile);
  }
  nav {
    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      align-items: center;
      margin: 0;
      li,span,button.button {
        text-transform: uppercase;
        font-weight: bold;
        font-size: map-get($header-font-size, mobile);
        @include apply-to(lg) {
          font-size: map-get($header-font-size, desktop);
        }
        color: $white;
        cursor: pointer;

        a {
          @include padding-spacing(base, horizontal);
          @include padding-spacing(small, vertical);
          &:hover {
            color: $accent;
          }

          color: $white;
        }
      }
    }
  }
}
