@import "variables";
header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  z-index: 100;
  .logo-wrapper {
    img {
      height: max-content;
      width:auto;
    }
  }
  nav {
    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      align-items: center;
      margin: 0;
      li, span{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.75rem;
        color: $white;
        padding: 0.2rem 1rem;
        cursor: pointer;
        a {
          &:hover {
            color: $accent;
          }
          color: $white;
        }
      }
    }
  }
}
