@import "variables";
@import "mixins/media";
@import "mixins/spacing";
article.hero {
  @include padding-spacing(large, horizontal);
  @include apply-to(lg) {
    @include padding-spacing(no, horizontal);
  }
  height: 100vh;
  width: 100vw;
  background: url("assets/images/home-bg.jpg");
  background-size: cover;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 6rem;
  img.logo {
    @include apply-to(lg) {
      width: 7rem;
    }
    width: 18rem;
    height: auto;
  }
  h1 {
    color: $white;
    text-align: center;
  }
  a.button {
    font-size: map-get($h3-font-size, mobile);
    @include padding-spacing(xlarge, horizontal);
    @include padding-spacing(large, vertical);
    @include apply-to(lg) {
      @include padding-spacing(large, horizontal);
      @include padding-spacing(medium, vertical);
      font-size: map-get($h3-font-size, desktop);
    }

  }
  img.bottom-shape {
    position: absolute;
    bottom: 0;
    width: 100vw;
  }
}
