@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:600,700|Poppins:400,700&display=swap');
@import "variables";
@import "mixins/media";

h1 {
  font-size: map-get($h1-font-size, mobile);
  @include apply-to(lg) {
    font-size: map-get($h1-font-size, desktop);
  }
  text-transform: uppercase;
  font-family: "Hind Siliguri";
  color: $title-base-color;
  line-height: $large-line-height;
}
h2 {
  font-size: $h2-font-size;
  font-family: "Hind Siliguri";
  color: $title-base-color;
  line-height: $large-line-height;
}
a {
  color: $primary;
  :hover {
    color: $accent;
  }
}

b {
  font-weight: bold;
}
