//Colors
$primary: #484848;
$accent: #00C58E;
$title-base-color: #0D0D0D;
$black: #000;
$white: #fff;

//Spacings

$no-spacing: 0;
$spacing-small: 0.4rem;
$spacing-base: 0.7rem;
$spacing-medium: 1.5rem;
$spacing-large: 3rem;
$spacing-x-large: 4rem;
$spacing-xx-large: 8rem;
